.board {
  margin-left: 1em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 10px;
  align-content: space-around;
  justify-content: space-between;
  height: 40em;
  width: 40em;
}
.card {
  /* height: 6em; */
  border-style: solid;
  border-color: blue;
  border-width: 2px;
  border-radius: 10px;
  display: grid;
  justify-items: center;
  align-items: center;
  font-size: 5em;
  user-select: none;
  text-decoration: none;
}

.number-hidden {
  cursor: 'default';
  user-select: 'none';
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  opacity: 0;
  transition: 800ms;
}

.number-shown {
  cursor: 'default';
  user-select: 'none';
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  opacity: 1;
  transition: 0ms;
}

.number-hidden:hover {
  cursor: 'default';
}

.number-shown:hover {
  cursor: 'default';
}
